/***** General Start *****/
.clear {clear: both;}
body {
	margin:0px;
	font-family: arial,sans serif;
	background: #ffffff;
	min-width: 860px;
}
a {color: #000000;}
.noMargin {
	margin:0px;
}
/***** General End *****/


/***** appPreview Start *****/
#appPreView {
    background: url("images/logo_bg.gif") repeat-x scroll center bottom #BC4902;
    border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;
    margin: 10px auto;
    min-height: 200px;
    width: 500px;
}

#appPreView .logo {
    display: block;
    margin: 0 auto;
}
#loader {
    margin-top: 17px;
    text-align: center;
}
/***** appPreview End *****/


/***** appNav Start *****/
#appNav {
	position:relative; 
}
#appNav .prodDetailPrevItemButton{
	position:absolute; 
	top:50px; 
	right:75px;
}
#appNav .prodDetailNextItemButton{
	position:absolute; 
	top:50px; 
	right:10px;
}
/***** appNav End *****/


/***** Header Start *****/
.topMenu {
	background: #000000; 
	color:#ffffff; 
	font-size: 11px; 
	font-weight: bold; 
	line-height: 20px; 
	height: 20px;
}
.topMenu ul {
	margin: 0px; 
	padding: 0px;
}
.topMenu li {
	display: inline; 
	padding: 0px 6px;
}
.topMenu a {color: #ffffff;}
.topMenu a:hover {
	color:#e46F02; 
	text-decoration: underline;
}
.cartSection {padding-right: 10px;}
.cartText:hover {color: #ffffff;}

.logoSection {
	background: url(images/logo_bg.gif) repeat-x; 
	height:76px;
}
.phonePaymentSection {
	float:right; 
	margin:0px 6px;
}
.phonePaymentSection h4 {margin: 5px 0px;}
/***** Header End *****/


/***** Sidebar Start *****/
.sideBar, .container{display: table-cell;}
.sideBar {
	width:25%;
	float:left;
	height: 100%;
	background: url("images/left_bg.gif") repeat-y scroll right top #000000;
 }
 
 .productSearchForm {
	padding: 15px 11px 0px;
    width: 225px;
}
.productSearchKeyword {
	border-left: 2px solid #75705E;
	border-top: 3px solid #75705E;
	width: 165px;
}
.searchBtn {
    background: none repeat scroll 0 0 #75705E;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 8px;
}
.sideBarCategories {
	background: #E46F02; 
	color: #ffffff;
	border-radius: 20px 0px 20px 20px;
	margin-left: 6px;
}
.sideBarCategories ul {
	padding: 6px;
	margin: 0px;
}
.sideBarCategories  li{ 
	list-style: none;
	padding: 3px 0;
	font-size: 13px;
	font-weight: bold;
	word-wrap:break-word;
}
.sideBarCategories  li:hover{
	color: #000000;
 }
 .sideBarCategories img {
	margin:15px auto;
	display: block;
 }
 .sideBarImages img {
	margin:15px auto;
	display: block;
 }
/***** Sidebar End *****/


/***** Footer Start *****/
.footer {
	background: #ffffff; 
	border-top: 4px solid #75705E;
}
.footer p {
	font-size: 12px;
	margin: 5px 10px;
}
.footer img {
	margin: 5px 0px 0px 2px;
}
.footer a {
	text-decoration: underline;
}
.footer a:hover {
	color: #922618;
}
/***** Footer End *****/



/***** Main Container Start *****/
.container {
	width:75%; 
	float:right;
	background: url("images/containertop_bg.jpg") repeat-x #ffffff;
}
.container #mainContentArea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px 0 0 0;
    margin-top: 15px;
	min-height:75px;
}
.pageTitleGrayBG{
    background: none repeat scroll 0 0 #75705E;
    border-radius: 18px 0 0 0;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 23px;
    padding-left: 24px;
}
.contentSection {
	padding: 5px 10px;
}
.contentSection  ul,p{
	font-size: 12px;
}

#mainContentArea a{
	color: #922618;
}
#mainContentArea a:hover {
	color: #000000;
}
/***** Main Container End *****/


/***** Homepage Start *****/
#homepageTemplate p {margin:0px;}
#mainContentArea .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #922618;
    height: 34px;
    line-height: 34px;
}
#mainContentArea .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #922618;
}
.ddUlMenu li ul{
	display:none;
}
/***** Homepage End *****/

/***** Product List Template Start *****/
.mpControlsPagination.ui-state-active.ui-corner-all.floatRight.paging.pointer {
    margin: 7px 0;
}
.productList{
	background: url("images/prodlisttemplate_bg.jpg");
}
.productList > li {
    height: 135px;
	margin: 0px;
	padding: 2px 10px;
    position: relative;
    width: 31%;
}
.prodListName {
color:#922618;
text-decoration: underline;
font-size: 12px;
font-family: arial;
font-weight: normal;
}
.prodListPrice {
	font-size: 12px;
}
/***** Product List Template End *****/


/***** Product Page Start *****/
.productPage > .contentSection {
    width: 675px;
}
.thumbImageCont.thumbCarousel {
	margin-bottom: 15px;
}
.thumbImageCont.thumbCarousel img {
	margin: 12px 12px 0 0;
}
.prodName {
	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
	border-bottom: 1px solid #CCCCCC;
}
.basePrice {
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}
.addToCartButton{
	background: #000000;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
}
.prodViewerAddToCartForm {
    border-bottom: 1px solid #CCCCCC;
    margin: 0;
    padding-bottom: 15px;
}
.tabbedProductContentTD a {
	color: #922618;
}
/***** Product Page End *****/


/***** Category Page Start *****/
.catName a {
    text-decoration: underline;
}
.catPageLongTitle {
	width: 375px; 
	margin: 0px auto;
	text-align: center;
}
.catPageSlideshow{
	margin: 0 auto;
}
.subCategoryName {
    color: #922618;
    font-size: 16px;
	font-weight:bold;
}
/***** Category Page End *****/


/***** Cart Modal Start *****/
.cartSummaryContainer {
    width: 200px;
	float:left;
}
.cartSummaryTotalsContainer h2 {
	font-size: 12px;
}
.checkoutButton.ui-button.ui-button-text.ui-state-default.ui-corner-all {
	border: none;
	background: none;
}
.cartIconLogos{
	width:145px;
	float:right;
	text-align:center;
}
.cartIconLogos img {
	padding:5px 0px;
}
.cartStuffContainer .productList {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 10px;
}
.cartStuffContainer .productList > li {
    padding: 10px 0;
}
/***** Cart Modal End *****/


/***** Company Page End *****/
.mainColumn {width: 100%;}
.sideline {
	border:1px solid #000000;
	margin: 25px 0px;
	padding: 10px;
}
.addressLine {
	margin: 0px 10px;
}
.aboutLinks {
	list-style: none;
	padding: 0px;
}
.aboutLinks a {
	text-decoration: underline;
}
/***** Company Page End *****/


/***** Search Results Start *****/
.ui-widget.ui-widget-header.resultsHeader.clearfix.ui-corner-top.hideInMinimalMode {
  border-radius: 20px 0 0;
}
/***** Search Results End *****/


/***** Checkout Start *****/
.ui-widget.ui-widget-content.ui-corner-all.ui-widget-header{
	background:#ffffff;
}
#mainContentArea .placeOrderButton.ui-state-highlight.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    background: none repeat scroll 0 0 #E46F02;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
#mainContentArea .placeOrderButton.ui-state-highlight.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
    color: #922618;
}
#mainContentArea .writeReview.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	width: 115px;
}
/***** Checkout End *****/


/***** Printable Page Start *****/
.pageTitlePrintable {
    color: #000000;
    font-size: 16px;
}
.productListPrintable {
    border-top: 1px solid #000000;
    padding-top: 3px;
}
.productListPrintable > li {
    height: 135px;
	margin: 0px;
	padding: 2px 10px;
    position: relative;
    width: 31%;
}
.productListPrintable .prodListName {
    color: #000000;
    text-decoration: none;
}
/***** Printable Page End *****/


/***** Customer Pages Start *****/
.mainColumn .contentSection {
	width:76%;
	padding:5px 1%;
}
.addressTitle {
	line-height:35px;
}
#myaccountArticle address {
    width: 300px;
	padding:5px;
}
/***** Customer Pages End *****/