/***** General CSS Start *****/
.clear {clear: both;}
body {
	margin:0px;
	font-family: arial,sans serif;
	background: #ffffff;
}
#appView {
	background: #000000;
}
/***** General CSS End *****/


/***** appPreview CSS End *****/
#appPreView {
    background: url("images/logo_bg.gif") repeat-x scroll center bottom #BC4902;
    border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;
    margin: 10px auto;
    min-height: 200px;
    width: 500px;
}

#appPreView .logo {
    display: block;
    margin: 0 auto;
}
#loader {
    margin-top: 17px;
    text-align: center;
}
/***** appPreview CSS End *****/


/***** Header CSS Start *****/
.topMenu {
	background: #000000; 
	color:#ffffff; 
	font-size: 11px; 
	font-weight: bold; 
	line-height: 20px; 
	height: 20px;
}
.topMenu ul {
	margin: 0px; 
	padding: 0px;
}
.topMenu li {
	display: inline; 
	padding: 0px 6px;
}
.topMenu a:hover {
	color:#e46F02; 
	text-decoration: underline;
}
.cartSection {padding-right: 10px;}
.cartText:hover {color: #ffffff;}

.logoSection {
	background: url(images/logo_bg.gif) repeat-x; 
	height:76px;
}
.phonePaymentSection {
	float:right; 
	margin-left:6px;
}
.phonePaymentSection h4 {margin: 5px 0px;}
/***** Header CSS End *****/


/***** Sidebar CSS Start *****/
.sideBar {
	width:25%;
	height: 100%; 
	background: url("images/left_bg.gif") repeat-y scroll right top #000000;
	float:left;
 }
 
 .productSearchForm {
	padding: 15px 11px 0px;
    width: 225px;
}
.productSearchKeyword {
	border-left: 2px solid #75705E;
	border-top: 3px solid #75705E;
	width: 165px;
}
.searchBtn {
    background: none repeat scroll 0 0 #75705E;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 8px;
}
.sideBarCategories {
	background: #E46F02; 
	color: #ffffff;
	border-radius: 20px 0px 20px 20px;
	margin-left: 6px;
}
.sideBarCategories ul {
	padding: 6px;
	margin: 0px;
}
.sideBarCategories  li{ 
	list-style: none;
	padding: 3px 0;
	font-size: 13px;
	font-weight: bold;
}
.sideBarCategories  li:hover{
	color: #000000;
 }
 .sideBarCategories img {
	margin:15px auto;
	display: block;
 }
 .sideBarImages img {
	margin:15px auto;
	display: block;
 }
/***** Sidebar CSS End *****/


/***** Footer CSS Start *****/
.footer {
	background: #ffffff; 
	border-top: 4px solid #75705E;
}
.footer p {
	font-size: 12px;
	margin: 5px 10px;
}
.footer img {
	margin: 5px 0px 0px 2px;
}
/***** Footer CSS End *****/



/***** Main Container CSS Start *****/
.container {
	width:75%; 
	float:right;
	background: #ffffff;
}
/***** Main Container CSS End *****/

